.un
{
    width: 100% ;
    height:180px; 
    background-color:#ff6600;
}

.trois
{
    width: 100% ;
    height:180px; 
    background-color:#4c4c4c;
}

.deux
{
    width: 100% ;
    height:180px;
    
}
h1 {
    
    text-align: center;
    padding: 
}